:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

nav {
  background-color: var(--green);
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

nav li:nth-child(odd):hover {
  transform: rotate(10deg);
}

nav li:nth-child(even):hover {
  transform: rotate(-10deg);
}

header {
  min-height: 100vh;
  background-image: url("../img/blue-splash.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: white 1px 1px;
}

h1, header > p {
  color: var(--orange);
  text-shadow: 1px 1px white;
}

h1 {
  font-size: 10vh;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px black;
}

.obstacles-group, .prizes-group {
  display: flex;
  gap: 1rem;
  justify-content: center; 
}

#obstacles {
  background-color: var(--orange);
  padding: 30px;
}

.obstacles article {
  background-color: var(--green);
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
  padding: 0 3rem;
}

.obstacles article:hover {
  background-color: var(--yellow);
  color: var(--orange);
}


#prizes {
  background-color: var(--green);
  padding: 30px;
}

.prizes article {
  border: 3px dashed var(--yellow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.prizes article img {
  transform: rotate(0deg);
  transition: transform 1s;
}
.prizes article img:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}

#apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apply {
  padding: 50px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: var(--orange);
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

button {
  background-color: var(--yellow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: var(--green);
  color: white;
}

footer {
  text-align: center;
  background-color: var(--yellow);
  color: black;
  padding: 20px;
}




@media screen and (max-width: 640px) {
  .obstacles, .prizes {
    display: flex;
    flex-direction: column;
  }
}